[user]
	name = Zach McQuiston
	email = zach.mcquiston35@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
